.column {
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: black;
}

.card {
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-color: black;
}


.add-card-button {
    -fx-text-fill: #6b778c;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-radius: 3px;
}

.card-heading {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.add-card-button:hover {
    -fx-text-fill: #091e42;
    -fx-background-color: #091e4214;
}

.delete-column-button {
    -fx-text-fill: #6b778c;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-radius: 10px;
}

.delete-column-button:hover {
    -fx-text-fill: #ff0000;
    -fx-background-color: rgba(66, 9, 9, 0.08);
}