/**
All of the project colors:

Background color: #EBEBEB
Toolbar & Button color: #181818
Text color: #FFFFFF
Talio text color: #F3F3F3

 */

@font-face {
    font-family: 'Cabin-Bold';
    src: url('fonts/Cabin-Bold.ttf');
}

@font-face {
    font-family: 'Cabin';
    src: url('fonts/Cabin-VariableFont.ttf');
}

/*
Modal
 */

.modalBackground {
    -fx-background-color: #f8f8f8;
    -fx-border-width: 1px;
    -fx-border-color: #181818;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(30, 30, 30, 0.4), 25, 0, 0, 0);
}

.modalTitleText {
    -fx-text-fill: #181818;
    -fx-font-family: Cabin;
    -fx-font-size: 26;
}

.modalDescriptionText {
    -fx-text-fill: #f8f8f8;
    -fx-font-family: Cabin;
    -fx-font-size: 13;
}

.modalToolbar {
    -fx-background-color: #f8f8f8;
    -fx-border-radius: 8 8 7px 7px;
    -fx-background-radius: 8 8 7px 7px;
}

.modalCrossButton {
    -fx-background-color: transparent;
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
}

.modalCrossButtonIcon {
    -fx-fill: #181818;
}

.modalCrossButton:hover {
    -fx-background-color: #181818;
}

.modalCrossButton:hover .modalCrossButtonIcon {
    -fx-fill: #f8f8f8;
}

.modalOkButton {
    -fx-background-color: #f8f8f8;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 1;
    -fx-border-color: #181818;
    -fx-text-fill: #181818;
}

.modalOkButton:hover {
    -fx-background-color: #181818;
    -fx-text-fill: #f8f8f8;
}


/*
Column
 */


.column {
    -fx-background-color: #f2f2f2;
    -fx-effect: dropshadow(gaussian, rgba(30, 30, 30, 0.3), 10, 0, 0, 0);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}


.thumb {
    -fx-background-color: rgba(124, 124, 124, 0.5);
    -fx-effect: dropshadow(gaussian, rgba(30, 30, 30, 0.3), 5, 0, 0, 0);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.increment-arrow,
.increment-button,
.decrement-arrow,
.decrement-button,
.track {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-fill: transparent;
}



.card-heading {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-font-family: Cabin;
    -fx-font-size: 17px;
}
/*
Card
 */
.card {
    -fx-border-radius: 10px;
    -fx-background-color: #f8f8f8;
    -fx-background-radius: 10px;
    -fx-padding: 2px;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0,0,0,0.3);
}
.cardTextArea {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-family: Cabin;
    -fx-font-size: 16px;
}

.cardTextArea .scroll-pane {
    -fx-background-color: transparent;
}

.cardTextArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.cardTextArea .scroll-pane .content{
    -fx-background-color: transparent;
}



/*
Overview
 */

.toolbar {
    -fx-background-color: #181818;
    -fx-border-radius: 0 0 7px 7px;
    -fx-background-radius: 0 0 7px 7px;
}

.toolbarButton {  /* Temporary: will be moved to be alongside the columns */
    -fx-background-color: transparent;
}

.add-column-button {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(gaussian, rgba(30, 30, 30, 0.3), 10, 0, 0, 0);
}

.add-column-button-icon {
    -fx-fill: #7c7c7c;
    -fx-font-smoothing-type: gray;
    -fx-smooth: true;
}

.add-column-button:hover {
    -fx-background-color: #c3c3c3;
}

.add-column-button:hover .add-column-button-icon {
    -fx-fill: #f2f2f2;
}

.add-card-button {
    -fx-text-fill: rgba(75, 75, 75, 0.6);
    -fx-background-color: #f4f4f4;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-width: 1px;
    -fx-border-color: rgba(0, 0, 0, 0.15);
    -fx-font-family: Cabin;
    -fx-font-size: 14px;
    -fx-font-weight: bolder;
}

.add-card-button .add-card-button-icon {
    -fx-fill: rgba(75, 75, 75, 0.6);
    -fx-font-smoothing-type: gray;
    -fx-smooth: true;
}

.add-card-button:hover .add-card-button-icon {
    -fx-fill: #ffffff;
}

.add-card-button:hover {
    -fx-background-color: #c3c3c3;
    -fx-text-fill: #ffffff;
}

.delete-column-button {
    -fx-text-fill: #6b778c;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-radius: 10px;
}

.delete-column-button:hover {
    -fx-text-fill: #ff0000;
    -fx-background-color: rgba(66, 9, 9, 0.08);
}

.menuButton {
    -fx-background-color: #181818;
    -fx-border-radius: 14px;
    -fx-background-radius: 14px;
    -fx-font-family: Cabin;
    -fx-font-size: 23;
    -fx-text-fill: #f8f8f8;
    -fx-font-smoothing-type: gray;
}

.menuButton:hover {
    -fx-background-color: #f8f8f8;
    -fx-text-fill: #181818;
    -fx-border-width: 1px;
    -fx-border-color: #181818;
}

.serverText-field {
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-padding: 5px 5px 5px 25px;
    -fx-font-family: Cabin;
    -fx-border-width: 1px;
    -fx-border-color: #181818;
    -fx-font-smoothing-type: gray;
    -fx-font-size: 22px;
}

.background {
    -fx-background-color: #EBEBEB;
}


.board-card {
    -fx-background-color: #ffffff;
    -fx-border-radius: 24;
    -fx-background-radius: 24;
    -fx-border-color: #181818;
    -fx-border-width: 0.5;
}

.board-card .board-name {
    -fx-font-family: 'Cabin';
    -fx-font-size: 26;
    -fx-text-fill: #181818;
}

.board-card.hovered {
    -fx-background-color: #c3c3c3;
}

.add-board-card {
    -fx-background-color: #ffffff;
    -fx-border-radius: 24;
    -fx-background-radius: 24;
    -fx-effect: dropshadow(gaussian, rgba(24, 24, 24, 0.1), 3, 0.2, 0, 0)
}

.add-board-card.hovered {
    -fx-background-color: #c3c3c3;
}

.add-board-card-button {
    -fx-fill: #7c7c7c;
}

.hovered .add-board-card-button {
    -fx-fill: #ffffff;
}

.settings-button {
    -fx-background-color: transparent;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
}

.settings-button:hover {
    -fx-background-color: #f8f8f8;
}

.settings-button:hover .settings-icon {
    -fx-fill: #181818;
}

.settings-icon {
    -fx-fill: #f8f8f8;
}

.tags-button {
    -fx-background-color: #181818;
    -fx-text-fill: #f8f8f8;
    -fx-font-family: Cabin-Bold;
    -fx-font-size: 18;
    -fx-font-weight: bolder;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #f8f8f8;
    -fx-border-width: 1;
}

.tags-button:hover {
    -fx-background-color: #f8f8f8;
    -fx-text-fill: #181818;
}

.join-board-button {
    -fx-background-color: #181818;
    -fx-text-fill: #f8f8f8;
    -fx-font-family: Cabin;
    -fx-font-size: 22;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-border-color: #f8f8f8;
    -fx-border-width: 1;
}

.join-board-button:hover {
    -fx-background-color: #f8f8f8;
    -fx-text-fill: #181818;
}

.board-link-button {
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.board-link-button:hover {
    -fx-background-color: rgba(206, 206, 206, 0.6);
}

.board-link-button:pressed {
    -fx-background-color: rgba(157, 157, 157, 0.6);
}

.join-board-modal-button {
    -fx-background-color: #f8f8f8;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-border-width: 1px;
    -fx-border-color: #181818;
    -fx-font-family: Cabin;
    -fx-text-fill: #181818;
    -fx-font-size: 16px;
}

.join-board-modal-button:hover {
    -fx-background-color: #181818;
    -fx-text-fill: #f8f8f8;
}

.join-board-modal-text-field {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #181818;
    -fx-font-family: Cabin;
    -fx-font-size: 15px;
}

.board-joinkey-text-field {
    -fx-background-color: #ffffff;
    -fx-border-radius: 18px;
    -fx-background-radius: 18px;
}

.board-joinkey-text-field:hover {
    -fx-background-color: rgba(60, 60, 60, 0.35);
}

.board-joinkey-text-field:pressed {
    -fx-background-color: rgba(60, 60, 60, 0.5);
}

.board-edit-icon {
    -fx-fill: transparent;
}

.board-name-button {
    -fx-background-color: transparent;
    -fx-font-family: Cabin;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 36px;
}
